.btn-group-xs > .btn, .btn-xs{font-size: 14px}
.profile-user-img{ width: 150px; height: 150px}
.red{color:red;}
.panel-default.many-list .row, .panel-default.behaviour-list .row, .panel-default.documents-list .row{margin-bottom: 5px}
h1.pull-right .btn{margin-top: -10px;margin-bottom: 5px; margin-left: 5px}
h1.pull-right.inside .btn{margin-top: -30px;margin-bottom: 5px; margin-left: 5px}
.main-header .navbar-custom-menu, .main-header .navbar-right{float: left}
.user-panel > .info > p{margin-bottom: 0; font-size: 15px; margin-top: 5px}
.user-panel > .info > span{font-size: 11px}
.user-panel > .image > img{height: 45px; width: 45px}
.objective-table{ background-color: white; margin-bottom: 0}
.objective-table select{padding: 2px}
.rating-column{background-color: #eeeeee; width: 7%}
.gray-cell{background-color: #eeeeee;}
.blue-cell-rating{background-color: #3c8dbc; color: white; font-weight: bold; text-align: center; font-size: 16px; vertical-align: middle;}
.objective-first-textarea{height: 220px !important}
.objective-table textarea{height: 100px}
.content-header h1{margin-bottom: 10px}
.objective-table thead th{font-weight: bold; color: white; font-size: 16px; vertical-align: middle;}
.buttons-pad{padding: 15px;}
.content-header{padding-top: 0}
.content-header .user-panel .info{color: #000; padding-left: 20px}
.content-header .user-panel .info p{margin-top: 0; color: #3c8dbc}
.content-header .user-panel  img{width: 55px; height: 55px;  border: 3px solid #3c8dbc; max-width: none; }
.content-sub h3{color: #3c8dbc; margin-top: 5px}
.content-sub ul{list-style: none; font-size: 16px; float: right; }
.content-sub ul li{display: inline-block; padding: 10px}
.content-sub ul li i {margin-right: 5px}
.objective-table thead th{background-color:#3c8dbc; height: 40px}
.font-white{color: white}
.margin-top-3{margin-top: 3px}
.weight-box{font-size: 16px; padding: 3px; width: 100%; text-align: center; font-weight: bold; padding: 5px}
.select2-container .select2-selection--single{height: 34px !important}
.empty-message div, .empty-message p{font-size:38px; color:#BBB; margin-top: 60px; text-align:center}
.empty-message p{font-size: 18px; margin-top: 20px}
#saving-label{margin-top:35px; font-size:14px; color:green; display:none;}
.average-box{background-color: #00a65a; padding: 3px; overflow-y: auto; color: white; text-align: center; border-radius:0.25em}
.average-box .header{font-size: 10px; border-bottom: 1px solid #eee}
blockquote {
    border-left: 5px solid #3c8dbc;
}
.hand > li { 
  cursor: pointer;
  font-weight: bold;
}
.alert-modal .modal {
/*  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
*/}

.alert-modal .modal {
  background: transparent !important;
}